[submodule "hugo-theme-minos"]
	path = hugo-theme-minos
	url = https://github.com/carsonip/hugo-theme-minos
[submodule "gohugo-theme-ananke"]
	path = gohugo-theme-ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
